:root {
  --primary-color: #26435d;;
  --font-family: "HelveticaNeue", Arial, sans-serif;
  --font-size: 1rem;
  --font-weight: bold;

  /* Fieldset */
  --fieldset-header-color: #26435d;
  --fieldset-header-label-color: #ffffff;
  --fieldset-header-padding: 0.5rem;
  --fieldset-body-color: #ffffff;
  --fieldset-body-padding: 0.5rem;
  --fieldset-margin: 0.5rem;

  /* Field */
  --field-label-color: #000000;
  --field-label-padding: 0.2rem;
  --field-invalid-feedback-label-color: red;
}

.ehr-form {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.ehr-form .card-header {
  background-color: var(--fieldset-header-color);
  color: var(--fieldset-header-label-color);
}

.ehr-form .card-body {
  background-color: var(--fieldset-body-color);
}

.ehr-form mrd-field-label {
  color: var(--field-label-color);
}

.ehr-form mrd-duration-input .input-group span {
  color: var(--field-label-color);
}

.ehr-form .ng-select.ng-select-focused .ng-select-container:after {
  border-color: var(--primary-color) !important;
}

.ehr-form form .form-control:focus {
  border-color: var(--primary-color);
}

.ehr-form .btn-link,
.ehr-form .btn-link:hover {
  color: var(--primary-color);
  font-weight: var(--font-weight);
}

.ehr-form .custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.ehr-form form .custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--primary-color);
}

.ehr-form .mrd-date-open-icon {
  color: var(--primary-color);
}

.ehr-form .card-header {
  padding: var(--fieldset-header-padding);
}

.ehr-form .card-body {
  padding: var(--fieldset-body-padding);
}

.ehr-form form .card {
  margin: var(--fieldset-margin);
}

.ehr-form form .form-control {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: var(--font-family);
}


.ehr-form .col-form-label {
  padding-top: var(--field-label-padding);
  padding-bottom: var(--field-label-padding);
}

.ehr-form svg.multiplicity-icon.icon-plus,
.ehr-form svg.multiplicity-icon.icon-minus {
  margin: 0 auto;
  height: 100%;
}

.ehr-form form .form-control:not(textarea) {
  height: var(--font-size) + var(--font-size);
  min-height: var(--font-size);
}

.ehr-form form .ng-select.ehr-select .ng-select-container {
  min-height: var(--font-size);
}

.ehr-form form .ng-select.ehr-select.ng-select-single .ng-select-container.ng-has-value>.ng-value-container {
  padding: 0;
}

.ehr-form .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  /*margin: 0;*/
}

.ehr-form form .ng-select.ehr-select.ng-select-multiple .ng-select-container .ng-arrow-wrapper {
  bottom: 0;
}

.ehr-form .datetime-icon > div {
  margin-top: 0 !important;
}

.ehr-form .action-buttons .cancel-button {
  margin: 0 auto !important;
  height: 100% !important;
  margin-right: 0.5rem !important;
}

.ehr-form form .ng-select.ehr-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
  height: var(--font-size) + var(--font-size);
  bottom: 0;
}

.ehr-form .invalid-feedback {
  margin-top: 0;
}

.ehr-form .btn-outline-primary {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  background-color: transparent !important;
}

.ehr-form .btn-outline-primary.active,
.ehr-form .btn-outline-primary.selected,
.ehr-form .btn-outline-primary:hover {
  color: var(--fieldset-body-color) !important;
  border-color: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
}

.ehr-form ui-switch .switch.checked {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.ehr-form .invalid-feedback {
  color: var(--field-invalid-feedback-label-color)
}

